<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link rel="stylesheet" href="../public/css/froala_blocks.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/fonts/login_font.css">
    <link rel="stylesheet" href="../public/css/font-awesome.css">
</head>
<body>

<header class="bg-dark" data-block-type="headers" data-id="1">
    <div class="container">
        <nav class="navbar navbar-expand-md no-gutters">
            <div class="col-3 text-left">
                <h2>
                    <a href="https://www.froala.com">
                        SUGUKURU
                    </a>
                </h2>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse-4"
                    aria-controls="navbarNav7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-collapse-4 justify-content-center col-md-6" id="navbarNav7">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://www.froala.com">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/contact.html">お問い合わせ</a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse navbar-collapse-4">
                <ul class="navbar-nav ml-auto justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/login.html">ログイン</a>
                    </li>
                </ul>

                <a class="btn ml-md-3" href="../views/register.html">登録</a>
            </div>
        </nav>
    </div>
</header>

<section class="fdb-block fp-active"
         style="background-image: url()"
         data-block-type="contacts" data-id="2" draggable="true">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="fdb-box fdb-touch">
                    <div class="row text-center justify-content-center">
                        <div class="col-12 col-md-9 col-lg-7">
                            <h1>お問い合わせ</h1>
                            <p class="text-h3">text・text・text・text・text・text・text・text・text・text・text・text・text・text</p>
                        </div>
                    </div>
                    <div class="row justify-content-center pt-4">
                        <div class="col-12 col-md-8">
                            <form action="" method="post">
                                <div class="row">
                                    <div class="col-12 col-md">
                                        <input type="text" class="form-control" placeholder="名前">
                                    </div>
                                    <div class="col-12 col-md mt-4 mt-md-0">
                                        <input type="text" class="form-control" placeholder="メールアドレス">
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col">
                                        <input type="email" class="form-control" placeholder="タイトル">
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col">
                                        <textarea class="form-control" name="message" rows="3"
                                                  placeholder="内容"></textarea>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col text-center">
                                        <button type="submit" class="btn">送信</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../public/js/jquery-3.2.1.slim.min.js"></script>
<script src="../public/js/popper.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>

</body>
</html>
