
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/froala_blocks.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/fonts/login_font.css">
    <link rel="stylesheet" href="../public/css/font-awesome.css">
</head>
<body>
<section class="fdb-block fp-active" style="background-image: url()" data-block-type="forms" data-id="1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-center">
                <div class="fdb-box fdb-touch">
                    <div class="row">
                        <div class="col">
                            <h1>ログイン</h1>
                        </div>
                    </div>
                    <form action="" method="post">
                    <div class="row mt-4">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <input type="password" class="form-control mb-1" placeholder="Password">
                            <p class="text-right"><a href="">パスワードを忘れた方</a></p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <button class="btn" type="button">送信</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="../public/js/jquery-3.2.1.slim.min.js"></script>
<script src="../public/js/popper.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>

</body>
</html>
