<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../public/css/froala_blocks.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/fonts/login_font.css">
    <link rel="stylesheet" href="../public/css/font-awesome.css">
</head>
<body>

<header class="bg-dark" data-block-type="headers" data-id="1">
    <div class="container">
        <nav class="navbar navbar-expand-md no-gutters">
            <div class="col-3 text-left">
                <h2>
                    <a href="https://www.froala.com">
                        SUGUKURU
                    </a>
                </h2>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse-4"
                    aria-controls="navbarNav7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-collapse-4 justify-content-center col-md-6" id="navbarNav7">
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://www.froala.com">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.froala.com">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/contact.html">お問い合わせ</a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse navbar-collapse-4">
                <ul class="navbar-nav ml-auto justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/login.html">ログイン</a>
                    </li>
                </ul>

                <a class="btn ml-md-3" href="../views/register.html">登録</a>
            </div>
        </nav>
    </div>
</header>

<section class="fdb-block fp-active" data-block-type="forms" data-id="2" draggable="true">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                <div class="row">
                    <div class="col text-center">
                        <h1>アカウントを作成</h1>
                        <p class="text-h3">1つのアカウントでSUGUKURUサービスすべてを </p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col mt-4">
                        <input type="text" class="form-control" placeholder="会社名">
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="郵便番号">
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="住所">
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="email" class="form-control" placeholder="電話番号">
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="email" class="form-control" placeholder="メールアドレス">
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="password" class="form-control" placeholder="パスワード">
                    </div>
                    <div class="col">
                        <input type="password" class="form-control" placeholder="パスワードの確認">
                    </div>
                </div>
                <div class="row justify-content-start mt-4">
                    <div class="col">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                同意する <a href="">ご利用規約</a>
                            </label>
                        </div>

                        <button class="btn mt-4 btn-lg btn-block">登録</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../public/js/jquery-3.2.1.slim.min.js"></script>
<script src="../public/js/popper.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
</body>
</html>